body {
    text-align: center;
    background: #f8e8a6;
}

h1 {
    margin-top: 15px;
}

a {
    color: green;
}

img {
    max-width: 100%;
    width: 700px;
    height: auto;
    border-radius: 30px ;
}

